html, body {
  background-color: #48CDE9;
}

/* media for darkmode */

@media (prefers-color-scheme: dark) {
  html, body {
    background-color: #145c6a;
  }
}

@viewport {
  width: device-width;
  height: device-height;
  initial-scale: 1;
}