.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    z-index: 4;
}

.h1 {
    font-family: 'Press Start 2p';
    font-size: 5em;
    font-kerning: 2em;
    color: #FFDA40;
    z-index: 4;
    margin: 1em;
}
.h1::before {
    content: "Where to?";
    display: block;
    font-family: 'Press Start 2p';
    font-size: 1em;
    font-kerning: 2em;
    color: #E22B17;
    z-index: 4;
    margin: 1em;
    position: absolute;
    top: 1.35em;
    left: 4em;
}

#logo {
    width: 100%;
    height: fit-content;
    z-index: 4;
    margin: 2em;
    animation: float 5s ease-in-out infinite;
}

.header::before {
    content: '';
    display: block;
    background-image: url('/background/cloud1.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 20em;
    height: 20em;
    position: absolute;
    top: 2em;
    left: 15em;
    z-index: 3;
    animation: move 10s ease-in-out infinite;
}

.header::after {
    content: '';
    display: block;
    background-image: url('/background/cloud2.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 20em;
    height: 20em;
    position: absolute;
    top: 10em;
    right: 25em;
    z-index: 3;
    animation: move reverse 10s ease-in-out infinite;
}

@font-face {
    font-family: 'Press Start 2p';
    src: url('/fonts/PressStart2P-Regular.ttf');
}

.button {
    width: fit-content;
    height: fit-content;
    padding: 1em 2em;
    margin: 5em 1em 1em 1em;
    border: none;
    border-radius: 3px;
    font-family: 'Press Start 2p';
    font-size: 1em;
    font-kerning: 2em;
    background-color: #FFDA40;
    box-shadow: 0 .3em #E22B17;
    cursor: pointer;
    transition: all .2s ease-in-out;
    z-index: 4;
}

.input {
    width: 50%;
    height: fit-content;
    padding: 1em 2em;
    margin: 1em;
    border: none;
    border-radius: 3px;
    font-family: 'Press Start 2p';
    font-size: 1em;
    font-kerning: 2em;
    background-color: #ffffff;
    box-shadow: 0 .3em #FFDA40;
    cursor: pointer;
    transition: all .2s ease-in-out;
    z-index: 4;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    z-index: 4;
    width: 100vw;
    height: 100vh;
}


.foreGround, .backGround {
    width: 100vw;
    height: 100vh;
}

#ground {
    width: 100vw;
    height: fit-content;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 3;
}

#bgGreen {
    width: 100vw;
    height: fit-content;
    position: fixed;
    bottom: .5em;
    left: 0;
    z-index: 2;
    animation: float reverse 5s ease-in-out infinite
}

#bgBlue {
    width: 100vw;
    height: fit-content;
    position: fixed;
    bottom: 1em;
    left: 0;
    z-index: 1;
    animation: float 8s ease-in-out infinite;
}

/* float animation */
@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-1em);
    }
    100% {
        transform: translateY(0);
    }
}

/* animation to move from left to right */

@keyframes move {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(10em);
    }
    100% {
        transform: translateX(0);
    }

}